<h1>Heroi <small>Nome do heroi</small></h1>
<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/heroes">
            <i class="fa fa-arrow-left" ></i> Voltar
        </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar(f)" #f="ngForm">
            <div class="form-group">
                <label>FireBase ID</label>
                <input type="text" placeholder="Firebase ID" name="id" [(ngModel)]="hero.id" disabled class="form-control">
            </div>
            <div class="form-group">
                <label>Nome</label>
                <input required type="text" placeholder="Nome do heroi" [(ngModel)]="hero.nombre" name="nombre"  class="form-control">
            </div>
            <div class="form-group">
                <label>Poder</label>
                <input required type="text" placeholder="Poder do heroi" class="form-control" [(ngModel)]="hero.poder" name="poder">
            </div>
            <div class="form-group">
                <label>Estado</label>
                <br>
                <button *ngIf="hero.vivo" (click)="hero.vivo = false" class="btn btn-outline-success w-50">
                    <i class="fa fa-smile-wink"></i> Vivo
                </button>
                <button *ngIf="!hero.vivo" (click)="hero.vivo = true" class="btn btn-outline-danger w-50">
                    <i class="fa fa-dizzy"></i> Morte
                </button>
            </div>
            <hr>
            <div class="form-group text-center">
            <button type="submit" class="btn btn-primary w-25"><i class="fa fa-save"></i> Salvar</button>
            </div>
        </form>
    </div>
</div>
